*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
}
 /* button and search container */
.button{
  padding: 5px 10px;
  width: 100%;
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
}

.blue {
  background: #00a8e5;
}

.green {
  background: #8dc63f;
}

header{
  /* padding: 10PX; */
  /* background-color: red; */
}

.header-search {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 250px;
  height: auto;
  padding: 0;
  /* background: blue; */
  padding-left: 20px;
}

.search-login-container {
  /* background: green; */
  width: 200px;
  /* background: teal; */
  padding-right: 30px;
}

 .login{
   /* background-color: yellow; */
   display: flex;
   margin-bottom: 10px;

 }

 .login .button:first-child {
   margin-right: 10px;
 }

.searchbar {
  display: flex;

}
 .searchbar input {
  width: 100%;
  padding: 5px;
  /* background-color: red; */
  float: left;
  width: 100%;
  border: 1px solid #0072bc;
  padding: 10px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
 }




/* nav bar */

 nav{
   background-color: #21597A;
   /* width: 10px; */
   text-align: center;
 }
 nav li{
   display: inline;
   padding: 11px 5px;
   /* background-color: teal; */
   /* border-bottom: 12px solid green; */
 }

 nav li.active {
   border-bottom: 12px solid #00a8e5;
   /* background-color: red; */
 }
 a {
   text-decoration: none;
   font-family: 'Open sans';
   margin: 25px;
   color: white;
   opacity: .75;
   cursor: pointer;
 }
 nav ul{
   /* background-color: red; */
   /* margin-left: 120px; */
   /* display: center; */
   margin: 0 auto;
   /* background-color: red; */
   /* width: 10px; */
   padding:10px 0;
   /* padding-bottom: 0; */
   display: inline-block;
   border-bottom: 12px solid #0072bc;
   width: 100vw;


 }

 /* slideshow */
.item{
  /* background-color: green; */
  width: 100vw;
  height: 500px;
  margin: 0;
  padding: 0px;

}
.carousel{
  /* background-color: pink; */
  width: 100vw;
  margin: 0;
  padding: 0;


}
.container{
  /* background-color: yellow; */
  margin: 0;
  padding: 0;
  width: 100vw;
}
.item img{
  padding: 0;
  margin:0;
  width: 100vw;

}

a.left.carousel-control{
  /* background-color: red; */
  margin: 0;
  height: 500px;
}
a.right.carousel-control{
  /* background-color: red; */
  margin: 0;
  height: 500px;
}

.faq {
    text-align: center;
}

.afaq {
    color: black;
    text-align: center;
    background-color: #BEE8EE;
}

/* main{
  background-color: red;
  padding: 0;
  margin: 0;
} */

/* section 1 */
.section1{
  background-color: #f1f1f1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}
main h1{
  /* background-color: green; */
  font-size: 3em;
  padding: 0;
  margin: 0;
}
main p{
  /* background-color: brown; */
  padding: 30px;
  margin: 0px 150px;
  font-size: 1.5em;

}
button.sec1-button{
  background-color: #39b54a;
  padding: 20px 50px;
  /* width: 100%; */
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
  font-size: 1.5em;
}
.login-link{
   color: green;
   text-decoration: underline;
   margin: 5px;
 }
 main .section1  p{
   /* background-color: red; */
   /* margin: 0; */
   padding-top: 40px;
   padding-bottom: 10px;
 }

/* section 2 */
.section2{
  background-color: #e8eef1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 50px;
}
button.sec2-button{
  background-color: #8dc63f;
  padding: 20px 50px;
  /* width: 100%; */
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
  font-size: 1.5em;
}
/* section 3 */
.section3{
  background-color: #f1f1f1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}
/* about page */
.about {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
main h2 {
    font-size: 3em;
    text-align: center;
}

main h3 {
    text-align: center;

}

/* membership */
.membership-container{
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.membership{
  border-radius: 20px;
  background-color: #f2f4f5;
  height: 500px;
  width: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: #d9dbdc;

}
.membership-text{
background-color: #f1f1f1;
text-align: center;
padding: 20px;
}
.features{
  background-color: white;
  padding-top: 30px;
  margin-top: 20px;
  border-top: 2px solid #d9dbdc;
  height: 260px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  list-style-type: none;
  text-align: center;
  font-size: 24px;
}

h4{
  font-size: 36px;
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  /* background-color: #39b54a; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-bottom: 2px solid #d9dbdc; */
  /* text-decoration: underline; */



}

.price{
  /* background-color: red; */
  font-size: 48px;
  text-align: center;
  padding-bottom: 20px;
  /* padding-top: 20px; */
  /* background-color: #0072bc; */

}


.select{
  align-items: center;
  background-color: #ffa500;
  padding: 15px 20px;
  width: 60%;
  font-family:'Open Sans';
  font-size: 15px;
  border: none;
  margin:auto;
  display:block;
}

/* events */
.event-container{
  /* background-color: red; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;


}
.event{
  /* background-color: green; */
  margin: 40px;

}

.event h8{
  font-size: 18px;
  /* background-color: red; */
  color:#f2f2f2;
}

.calender{
  height: 200px;
  width: 200px;
  background-color: #f1f1f1;
  opacity: .75;
  border-radius: 25px;
  /* margin: 0px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  justify-content: center;
  padding: 20px;
}

.event button {
  margin-top: 10px;
  padding: 15px;
  font-size: 15px;
}

/* .calender .dots-container {
  background: red;
  width: 100%;
  height: 40px;
} */

.calender h7{
  /* background-color: red; */
  font-size: 82px;
  /* text-align: justify; */
  /* display:block; */
  /* text-align: center; */
  /* padding:0;
  margin: 0; */
  /* padding-top: 40px; */
  /* padding-bottom: 0; */

}

.calender p{
  font-size: 36px;
  /* display: block; */
  /* text-align: center; */
  /* background-color: green; */
  /* display:block; */
  /* text-align: center; */
  padding:0;
  margin: 0;
}

 .events {
   background: url("images/eventbg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
	 /* opacity: 50%; */
 }
 .events-overlay {
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
   padding: 30px;

 }


.events h1{
  /* color: #f1f1f1; */
  text-align: center;
  /* background-color: green; */
  padding: 20px;

}






input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 11px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containers {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
img.zoomin {
    width: 400px;
    height: 325px;
    display: inline-block;
    margin-top: 0;
    display: table;
    /* transition: all 4s ease; */
}

td.zoom {
    transition: transform .8s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.10);
}

.enlarge {
    font-size:
}

td.zoom>img {
    margin-left: 40px;
}

.enlarge {
    text-align: center;
    font-size: 24px;
}


footer{
  background-color: #21597A;

}

.popup-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 00;
  left: 0;
  background-color: rgba(0,0,0,.75);

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* display: none; */


}

.popup{
  background-color: #f2f2f2;
  max-width: 600px;
  padding: 30px;
  min-width: 450px;
  z-index: 100;



}

.popup input[type = submit]{
  margin-top: 15px;
}

.isvisable{

  visibility:visible !important;
  /* display: block; */
}

.modal-body img{
display: block;
margin-left: auto;
margin-right: auto;
}

.aboutus{
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left: 30px;
margin-right: 30px;
}




















/* .carousel-control{
   width: 100%;
   height: 500px;
}  */
