*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
}
 /* button and search container */
.button{
  padding: 5px 10px;
  width: 100%;
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
}

.blue {
  background: #00a8e5;
}

.green {
  background: #8dc63f;
}

header{
  /* padding: 10PX; */
  /* background-color: red; */
}

.header-search {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 250px;
  height: auto;
  padding: 0;
  /* background: blue; */
  padding-left: 20px;
}

.search-login-container {
  /* background: green; */
  width: 200px;
  /* background: teal; */
  padding-right: 30px;
}

 .login{
   /* background-color: yellow; */
   display: flex;
   margin-bottom: 10px;

 }

 .login .button:first-child {
   margin-right: 10px;
 }

.searchbar {
  display: flex;
}
 .searchbar input {
   width: 100%;
   padding: 5px;
 }
/* nav bar */

 nav{
   background-color: #21597A;
   /* width: 10px; */
   text-align: center;

 }
 nav li{
   display: inline;
   padding: 11px 5px;
   /* background-color: teal; */
   /* border-bottom: 12px solid green; */
 }

 nav li.active {
   border-bottom: 12px solid #00a8e5;
   /* background-color: red; */
 }
 a {
   text-decoration: none;
   font-family: 'Open sans';
   margin: 25px;
   color: white;
   opacity: .75;
   cursor: pointer;
 }
 ul{
   /* background-color: red; */
   /* margin-left: 120px; */
   /* display: center; */
   margin: 0 auto;
   /* background-color: red; */
   /* width: 10px; */
   padding:10px 0;
   /* padding-bottom: 0; */
   display: inline-block;
   border-bottom: 12px solid #0072bc;
   width: 100vw;


 }

 /* slideshow */
.item{
  /* background-color: green; */
  width: 100vw;
  height: 500px;
  margin: 0;
  padding: 0px;

}
.carousel{
  /* background-color: pink; */
  width: 100vw;
  margin: 0;
  padding: 0;


}
.container{
  /* background-color: yellow; */
  margin: 0;
  padding: 0;
  width: 100vw;
}
img{
  padding: 0;
  margin:0;

}

a.left.carousel-control{
  /* background-color: red; */
  margin: 0;
  height: 500px;
}
a.right.carousel-control{
  /* background-color: red; */
  margin: 0;
  height: 500px;
}



/* main{
  background-color: red;
  padding: 0;
  margin: 0;
} */

/* section 1 */
.section1{
  background-color: #f1f1f1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}
main h1{
  /* background-color: green; */
  font-size: 3em;
}
main p{
  /* background-color: brown; */
  padding: 30px;
  margin: 0px 150px;
  font-size: 1.5em;

}
button.sec1-button{
  background-color: #39b54a;
  padding: 20px 50px;
  /* width: 100%; */
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
  font-size: 1.5em;
}
.login-link{
   color: green;
   text-decoration: underline;
   margin: 5px;
 }
 main .section1  p{
   /* background-color: red; */
   /* margin: 0; */
   padding-top: 40px;
   padding-bottom: 10px;
 }

/* section 2 */
.section2{
  background-color: #e8eef1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 50px;
}
button.sec2-button{
  background-color: #8dc63f;
  padding: 20px 50px;
  /* width: 100%; */
  /* background: green; */
  color: white;
  font-family:'Open Sans';
  font-size: 10px;
  border: none;
  font-size: 1.5em;
}
/* section 3 */
.section3{
  background-color: #f1f1f1;
  display: flex;
	flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}






footer{
  background-color: #21597A;
}




















/* .carousel-control{
   width: 100%;
   height: 500px;
}  */
